@page
@using HayraKosanlar.Localization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Authorization
@using HayraKosanlar.Permissions
@model HayraKosanlar.Web.Pages.HelpRequest.IndexModel
@inject IStringLocalizer<HayraKosanlarResource> L
@inject IAuthorizationService AuthorizationService
@section scripts{
    <abp-script src="/Pages/HelpRequest/Index.js" />
}
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_3">
                <abp-card-title>@L["HelpRequests"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_9" class="text-right" style="display:flex;justify-content:flex-end;">
                    <select class="form-control" style="width:200px;margin-right:10px;">
                        <option value="1">@L["Enum:HelpRequestStatus:1"].Value</option>
                        <option value="2">@L["Enum:HelpRequestStatus:2"].Value</option>
                        <option value="3">@L["Enum:HelpRequestStatus:3"].Value</option>
                        <option value="4">@L["Enum:HelpRequestStatus:4"].Value</option>
                        <option value="5">@L["Enum:HelpRequestStatus:5"].Value</option>
                        <option value="6">@L["Enum:HelpRequestStatus:6"].Value</option>
                        <option value="6">@L["Enum:HelpRequestStatus:7"].Value</option>
                    </select>
                @if (await AuthorizationService.IsGrantedAsync(HayraKosanlarPermissions.HelpRequest.Create))
                {
                    <abp-button id="NewHelpRequestButton" text="@L["NewHelpRequest"].Value" icon="plus" button-type="Primary" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="HelpRequestsTable"></abp-table>
    </abp-card-body>
</abp-card>
